@model LocadoraCarros.Models.Usuario
@{
    ViewData["Title"] = "Meus Dados";
}

<div class="dados">
    <div class="card">
        <div class="card-header">
            <h3 class="titulo">
                <i class="fa fa-address-card fa-lg"></i> &nbsp; Meus Dados &nbsp;
                <a asp-action="Atualizar" asp-controller="Usuarios" asp-route-UsuarioId="@Model.Id" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="Atualizar Dados"><i class="fa fa-edit fa-lg"></i></a>
            </h3>
        </div>

        <div class="card-body">

            <div class="input-group col-8 campos">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card fa-lg"></i></span>
                </div>
                <input asp-for="Nome" type="text" class="form-control" readonly />
            </div>

            <div class="input-group col-8 campos">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-address-card fa-lg"></i></span>
                </div>
                <input asp-for="CPF" type="text" class="form-control form-control-lg" readonly />
            </div>

            <div class="input-group col-8 campos">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone-square fa-lg"></i></span>
                </div>
                <input asp-for="Telefone" type="text" class="form-control form-control-lg" readonly />
            </div>

            <div class="input-group col-8 campos">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope fa-lg"></i></span>
                </div>
                <input asp-for="Email" type="text" class="form-control form-control-lg" readonly />
            </div>
        </div>

    </div>
</div>

<div class="enderecos">
    <div class="card">
        <div class="card-header">
            <h3>
                <i class="fa fa-home fa-lg"></i> &nbsp; Meus Endereços &nbsp;
                <a asp-action="Create" asp-controller="Enderecos" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="Novo Endereço"><i class="fa fa-plus-circle fa-lg"></i></a>
            </h3>
        </div>

        <div class="card-body">
            @await Component.InvokeAsync("Endereco")
        </div>

    </div>
</div>

<div class="carros">
    <div class="card">
        <div class="card-header">
            <h3>
                <i class="fa fa-car fa-lg"></i> &nbsp; Meus Carros Alugados &nbsp;
            </h3>
        </div>

        <div class="card-body">
            @*await Component.InvokeAsync("CarrosAlugados")*@
        </div>

    </div>
</div>

<partial name="_ModalExclusao" />

@section Scripts{
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        })

        function ConfirmarExclusao(id, nome, controller) {
            $(".Nome").html(nome);

            $(".modal").modal("show");

            $(".btnExcluir").on('click', function() {
                var url = "/" + controller + "/Delete/";

                $.ajax({
                    method: "POST",
                    url: url,
                    data: { id: id },
                    success: function() {
                        alert("Registro Excluído!");
                        location.reload();
                    }
                })

            })
        }
    </script>
}

