@model LocadoraCarros.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Efetuar login de usuário";
}

<div class="border border-light rounded shadow col-md-8">
    <div class="container">
        <h3 class="titulo"><i class="fa fa-user fa-lg"></i> @ViewData["Title"] </h3>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="campos">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">E-mail</label>
                            <input asp-for="Email" type="email" class="form-control form-control-lg" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="campos">
                        <div class="form-group">
                            <label asp-for="Senha" class="control-label"></label>
                            <input asp-for="Senha" type="password" class="form-control form-control-lg" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group botoes">
                        <input type="submit" value="Efetuar Login" class="btn btn-outline-info btn-lg" /> &nbsp;
                        <a asp-action="Registro" asp-controller="Usuarios" class="btn btn-link btn-lg">Não sou registrado</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}