@model LocadoraCarros.Models.Carro

@{
    ViewData["Title"] = "Atualizar carro " + Model.Nome;
}

<div class="border border-light rounded shadow col-md-8">
    <div class="container">
        <h3 class="titulo"><i class="fa fa-car fa-lg"></i> @ViewData["Title"]</h3>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-6">

                            <div class="campos">
                                <div class="form-group">
                                    <label asp-for="Nome" class="control-label">Nome</label>
                                    <input asp-for="Nome" class="form-control form-control-lg" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="campos">
                                <div class="form-group">
                                    <label asp-for="Marca" class="control-label">Marca</label>
                                    <input asp-for="Marca" class="form-control form-control-lg" />
                                    <span asp-validation-for="Marca" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="campos">
                                <div class="form-group">
                                    <label asp-for="PrecoDiaria" class="control-label">Preço da Diária</label>
                                    <input asp-for="PrecoDiaria" class="form-control form-control-lg" />
                                    <span asp-validation-for="PrecoDiaria" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-6">
                            <div class="form-group campos">
                                @if(Model.Foto != null)
                                {
                                    <img src="@Url.Content(Model.Foto)" name="arquivo"  id="arquivo"   height="300" width="300" class="border border-secondary rounded" />
                                }
                                else{
                                    <img src="#" name="arquivo"  id="arquivo"  height="300" width="300" class="border border-secondary rounded" />
                                }                            
                            </div>
                            <div class="campos">
                                <div class="form-group">
                                    <label asp-for="Foto" class="control-label">Nome</label>
                                    <input asp-for="Foto" type="file" class="form-control form-control-lg" name="arquivo"  id="arquivo"  onchange="CarregarImagem(this)" />
                                    <span asp-validation-for="Foto" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="form-group botoes">
                        <input type="submit" value="Atualizar" class="btn btn-outline-info btn-lg" /> &nbsp;
                        <a asp-action="Index" class="btn btn-link btn-lg">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function CarregarImagem(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $("#arquivo").attr('src', e.target.result).width(300).height(300);
                }
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}

