@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <text class="text-white">Olá, @UserManager.GetUserName(User) - </text>
                <a class="btn btn-link navbar-btn navbar-link" asp-controller="Usuarios" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </div>

}
